.tableHeader{
 
    font: arial; 
    font-weight: bold;
    color: white; 
    background-color:#0076C8;
    transition-duration: 0.4s; /* for hover*/ 
}

.tableHeader:hover{
 
    color: black; 
    background-color: rgb(202, 202, 206);

}


.tableHeader__remove{
    border-style: solid; 
    border-color: grey; 
    border-width:1px; 
    width:20%;    
    left: 80%; 

}



